{% extends 'index.html' %}
{% load static %} 
{% block content %}

<div class="slider-section flone-fp-section active" id="section2">
    <div class="container">
        <div class="row d-flex align-items-center fullpage-slider-mrg-2">
            
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <h1 class="animated">🎁 Digital library 🔥</h1>
                <div class="slider-content-11 slider-animated-1 fullpage-content">
                    <a class="animated" href="#">
                    <h3 class="animated">Are you ready to take your quest and passion for knowledge to the next level?<br>Experience convenience without straining. A competitive collection of vast and enjoyable.  </h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="slider12-img-2 slider-animated-1">
                    <img class="animated" alt="" src="{% static 'img/test4.png' %}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slider-section flone-fp-section " id="section2">
    <div class="container">
        <div class="row d-flex align-items-center fullpage-slider-mrg-2">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <h1 class="animated">🎮 Hassle-free access! </h1>
                <div class="slider-content-11 slider-animated-1 fullpage-content">
                    <h3 class="animated">Embrace seamless accessibility! Our membership designed with your convenience in mind, offering a variety of options tailored to suit your reading preferences. Whether you're interested in exploring our digital archives model ensures that accessing our vast library of resources is both effortless and enjoyable.</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="slider12-img-2 slider-animated-1">
                    <img class="animated" alt="" src="{% static 'img/test5.png' %}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slider-section flone-fp-section last-before-footer" id="section4">
    <div class="container">
        <div class="row d-flex align-items-center fullpage-slider-mrg-2">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <h1 class="animated">🌟 Upgrade Opportunities </h1>
                <div class="slider-content-11 slider-animated-1 fullpage-content">
                    <h3 class="animated">Explore boundless information and entertainment through our digital library platform.!</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="slider12-img-2 slider-animated-1">
                    <img class="animated" alt="" src="{% static 'img/test8.png' %}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slider-section flone-fp-section last-before-footer" id="section4">
    <div class="container">
        <div class="row d-flex align-items-center fullpage-slider-mrg-2">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <h1 class="animated">⚽ Digital academia Paradise </h1>
                <div class="slider-content-11 slider-animated-1 fullpage-content">
                    <h3 class="animated">Skip the complicated paperwork. Our user-friendly application process gets you closer to your desired information genre</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="slider12-img-2 slider-animated-1">
                    <img class="animated" alt="" src="{% static 'img/test7.png' %}">
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partials/footer.html' %}

  {% endblock content %}
